<header>
  <nav>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/js">JavaScript</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="/py">Python</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="/java">Java</a>
      </li>
    </ul>
  </nav>
</header>
